{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{% static 'homescreen/theme.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact · OSSD Guide</title>
  <div class=headernav>
<a href="../../" class=site-title><b>OSSD</b>Guide</a>
<a href="../../explore">Explore</a>
<a class="grade-link" href="../../explore?grade=1">Grade 9 Courses</a>
<a class="grade-link" href="../../explore?grade=2">Grade 10 Courses</a>
<a class="grade-link" href="../../explore?grade=3">Grade 11 Courses</a>
<a class="grade-link" href="../../explore?grade=4">Grade 12 Courses</a>
<a href="../../contact">Contact</a>
<form method=get action="../../explore" style="display:inline;">
  <input type=text placeholder="Search..." name=search maxlength="32"></input>
  <button type=submit class=search-btn>_</button>
</form>
</div>

</head>
<body>
  <div class=midcontain>
  <div class=headbox>
    <h1>Contact</h1>
    <hr>
    </div>
    <div class=desc-box>
      <p>Having <span class=emph>any issues with the site</span>? Is there a missing course or school board? Is any course data incorrect? Need to report a review or take down your own?</p>
      <p>Please <span class=emph>send me an email</span> at <a href=mailto:mcguy215.215@gmail.com>mcguy215.215@gmail.com</a></p>
    </div>
    </div>

    <div class=spacer></div>
    <div class=footernav>
    <div class=midfooter>
    <div class=column>
    <a href="/../../explore"><span class=footerhead>COURSES</span></a><br>
    <a href="../../explore?grade=1">Grade 9</a><br>
    <a href="../../explore?grade=2">Grade 10</a><br>
    <a href="../../explore?grade=3">Grade 11</a><br>
    <a href="../../explore?grade=4">Grade 12</a><br>
    <a href="../../explore?level=O">Open-level</a><br>

    </div>
    <div class=column>
      <a href="../../explore?level=D">Academic-level</a><br>
      <a href="../../explore?level=P">Applied-level</a><br>
      <a href="../../explore?level=U">University-level</a><br>
      <a href="../../explore?level=C">College-level</a><br>
      <a href="../../explore?level=M">Mixed-level</a><br>
    </div>
    <div class=column>
      <span class=footerhead>SITE</span><br>
      <a href="../../">Home</a><br>
      <a href="../../contact">Contact</a><br>
      <a href="https://github.com/shaan-s">Github</a><br>
    </div>
    <div style="text-align:right;">2024&nbsp;·&nbsp;<a href="https://www.ceruleanechoes.com">ceruleanechoes.com</a>&nbsp;✧
    </div></div>
</body>
</html>
